[Desktop Entry]
Name=Water Sort
Comment=A water sort puzzle game
Exec=watersort
Icon=watersort
Terminal=false
Type=Application
Categories=Game;LogicGame;